@using Attention.BLL.Models

@model PaginatedList<BingModel>

@{
    ViewData["Title"] = "Bing";
}

<div class="row pt-4">
    <div class="col-md-7 mb-4">
        <div class="view overlay z-depth-1-half">
            <img src="@Model[0].ImageUrl_1920x1080" class="card-img-top" alt="">
            <div class="mask rgba-white-light"></div>
        </div>
    </div>

    <div class="col-md-5 mb-4">
        <h2>@Model[0].DateTime.ToString("yyyy-MM-dd")</h2>
        <hr>
        <p>
            @Model[0].Copyright
        </p>
        <a target="_blank" href="https://mdbootstrap.com/getting-started/" class="btn btn-indigo btn-md">
            Download
            <i class="fa fa-download ml-1"></i>
        </a>
        <a target="_blank" href="https://mdbootstrap.com/components/" class="btn btn-indigo btn-md">
            Live Show
            <i class="fa fa-image ml-1"></i>
        </a>
    </div>
</div>
<div class="row">
    @for (int i = 1; i < Model.Count; i++)
    {
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
                <div class="view overlay zoom">
                    <img src="@Model[i].ImageUrl_1920x1080" class="card-img-top" alt="">
                    <a href="#">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">@Model[i].DateTime.ToString("yyyy-MM-dd")</h4>
                    <a target="_blank" href="https://mdbootstrap.com/components/" class="btn btn-indigo btn-md">
                        Live Show
                        <i class="fa fa-image ml-1"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</div>

<hr class="mb-5">

<nav class="d-flex justify-content-center wow fadeIn">
    <div class="row">
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <a asp-action="Index"
           asp-controller="Bing"
           asp-route-page="@(Model.PageIndex - 1)"
           class="btn btn-primary @prevDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-controller="Bing"
           asp-route-page="@(Model.PageIndex + 1)"
           class="btn btn-primary @nextDisabled">
            Next
        </a>
    </div>
</nav>