@using Attention.BLL.Models

@model PaginatedList<BingModel>

@{
    ViewData["Title"] = "Pay Attention";
}

<div class="container">

    @if (Model.Count > 0)
    {
        <div class="row pt-4">
            <div class="col-md-7 mb-4">
                <div class="view overlay z-depth-1-half">
                    <img src="@Model[0].Url" class="card-img-top" alt="">
                    <div class="mask rgba-white-light"></div>
                </div>
            </div>

            <div class="col-md-5 mb-4">
                <h2>@Model[0].DateTime.ToString("yyyy-MM-dd")</h2>
                <hr>
                <p>
                    @Model[0].Copyright
                </p>
                <a class="btn btn-indigo btn-md" onclick="download(@Model[0].Url)">
                    Download
                    <i class="fa fa-download ml-1"></i>
                </a>
                <a class="btn btn-indigo btn-md"
                   asp-action="Detail" asp-controller="Home" asp-route-hsh="@Model[0].Hsh">
                    Live Show
                    <i class="fa fa-image ml-1"></i>
                </a>
            </div>
        </div>
        <div class="row">
            @for (int i = 1; i < Model.Count; i++)
            {
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="view overlay zoom">
                            <img src="@Model[i].Url" class="card-img-top" alt="">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <a class="btn btn-indigo btn-md"
                                   asp-action="Detail" asp-controller="Home" asp-route-hsh="@Model[i].Hsh">
                                    Live Show
                                    <i class="fa fa-image ml-1"></i>
                                </a>
                                <small class="text-muted">@Model[i].DateTime.ToString("yyyy-MM-dd")</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <hr class="mb-5">

        <nav aria-label="Page navigation example">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <ul class="pagination justify-content-center">
                <li class="page-item  @prevDisabled">
                    <a asp-action="Index"
                       asp-controller="Home"
                       asp-route-page="@(Model.PageIndex - 1)"
                       class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                <li class="page-item">
                    <a asp-action="Index" asp-controller="Home" asp-route-page="1" class="page-link"> 1 </a>
                </li>
                ...
                @for (int i = 1; i < 6 && i < Model.TotalPages; i++)
                {
                    <li class="page-item">
                        <a asp-action="Index" asp-controller="Home" asp-route-page="@(Model.PageIndex + i)" class="page-link"> @(Model.PageIndex + i) </a>
                    </li>
                }
                ...
                <li class="page-item">
                    <a asp-action="Index" asp-controller="Home" asp-route-page="@Model.TotalPages" class="page-link"> @Model.TotalPages </a>
                </li>
                <li class="page-item @nextDisabled">
                    <a asp-action="Index"
                       asp-controller="Home"
                       asp-route-page="@(Model.PageIndex + 1)"
                       class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
    else
    {
        <div>
            Hello world
        </div>
    }
</div>

<script>
    function download(src) {
        var $a = document.createElement('a');
        $a.setAttribute("href", src);
        $a.setAttribute("download", "");

        var evObj = document.createEvent('MouseEvents');
        evObj.initMouseEvent('click', true, true, window, 0, 0, 0, 0, 0, false, false, true, false, 0, null);
        $a.dispatchEvent(evObj);
    };
</script>